.view-sessions-container {
   padding: 20px;
   max-width: 600px;
   margin: auto;
   text-align: center;
}

h1 {
   margin-bottom: 30px;
   color: #2c3e50;
}

.student-block {
   background-color: #f9f9f9;
   padding: 15px 20px;
   margin-bottom: 25px;
   border-radius: 12px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
   margin-bottom: 15px;
   color: #34495e;
}

.table-wrapper {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.header-row {
   display: flex;
   font-weight: bold;
   margin-bottom: 8px;
   color: #2c3e50;
}

.column-title {
   flex: 1;
   text-align: center;
}

.pages-grid .row {
   display: flex;
   margin-bottom: 5px;
}

.cell {
   flex: 1;
   text-align: center;
   padding: 6px;
   background-color: #ffffff;
   border: 1px solid #ddd;
   border-radius: 6px;
   margin: 0 3px;
   font-size: 16px;
}

.totals {
   font-weight: bold;
   color: #27ae60;
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
}
.totals-points {
   font-weight: bold;
   color: #af0017;
   margin-top: 10px;
}

.summary-table {
   margin-top: 2rem;
   direction: rtl;
   text-align: center;
}

.summary-table table {
   width: 100%;
   border-collapse: collapse;
}

.summary-table th,
.summary-table td {
   border: 1px solid #ccc;
   padding: 8px;
}
